body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

section#intro{
    background-color: purple;
}

section#s1M{
    background-image: url(images/Miku_Wall.png);
    background-size: cover;
}

section#s2T{
    background-image: url(images/Teto_Wall.webp);
    background-size: cover;
}

section#s3Z{
    background-image: url(images/Zundamon_Wall.png);
    background-size: cover;
}

section#outro{
    background-color: purple;
}

.Vocal-Card{
    height: 94%;
    width: 80%;
    border-radius: 10px;
    display: flex;
    position: relative;
}
div#div_intro{
    background-color: gray;
    width: 85%;
}

div#d1M {
    background-color: #39c5bb;
    background-image: 
        radial-gradient(circle at 10% 10%, rgba(255, 255, 255, 0.45) 0%, transparent 40%),
        radial-gradient(circle at 90% 90%, rgba(0, 130, 120, 0.3) 0%, transparent 60%);

    border: 3px solid #5ce5dc;

    box-shadow: 
        0 15px 35px rgba(0, 0, 0, 0.4),
        0 0 20px rgba(57, 197, 187, 0.5), 
        inset 0 6px 15px rgba(255, 255, 255, 0.5),
        inset 0 -6px 15px rgba(0, 80, 75, 0.4);

    backdrop-filter: none; 
    overflow: hidden;
    opacity: 0.9;
}

div#d2T {
    background-color: #ff1756; 
    background-image: 
        radial-gradient(circle at 10% 10%, rgba(255, 255, 255, 0.45) 0%, transparent 40%),
        radial-gradient(circle at 90% 90%, rgba(200, 0, 50, 0.3) 0%, transparent 60%);

    border: 3px solid #ff4b72; 

    box-shadow: 
        0 15px 35px rgba(0, 0, 0, 0.4), 
        0 0 20px rgba(255, 23, 86, 0.4), 
        inset 0 6px 15px rgba(255, 255, 255, 0.5), 
        inset 0 -6px 15px rgba(100, 0, 20, 0.4);

    backdrop-filter: none; 
    overflow: hidden;
    opacity: 0.9;
}
div#d3Z {
    background-color: #8bd450;
    background-image: 
        radial-gradient(circle at 10% 10%, rgba(255, 255, 255, 0.5) 0%, transparent 40%),
        radial-gradient(circle at 90% 90%, rgba(40, 100, 20, 0.25) 0%, transparent 60%);

    border: 3px solid #a0e862;

    box-shadow: 
        0 15px 35px rgba(0, 0, 0, 0.4),
        0 0 20px rgba(139, 212, 80, 0.5),
        inset 0 6px 15px rgba(255, 255, 255, 0.5),
        inset 0 -6px 15px rgba(30, 80, 15, 0.4);

    backdrop-filter: none; 
    overflow: hidden;
    opacity: 0.9;
}

div#div_outro{
    background-color: gray;
    width: 85%;
}

.left-column, .center-column, .right-column {
    position: relative;
    height: calc(100% - 155px);
    width: 33.33%;
}

.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99.25%;
    height: 140px;
    border: 5px solid; 
    border-radius: 10px;
}

#B-M{
    border-color:#5ce5dc; 
}
#B-T{
    border-color:#ff4b72; 
}
#B-Z{
    border-color:#a0e862; 
}

#feed-trigger-M:checked ~ .item {  
    animation-name: itemMove;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    animation-fill-mode: forwards;
}

#feed-trigger-M:checked ~ .S-of-M #click-M {
    background-color: #a6f0ea;
}

.S-of-M {
    width: 15%;
    height: 40%;
    position: absolute;
    left: 75%;
    top: 45px;
}


#click-M {
    width: 20%;
    height: 65%;
    text-align: center;
    background-color: #39c5bb;
    border: 6px;
    border-style: groove;
    border-color: #008b8b;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 10px;
    transition: background-color .2s linear, transform .2s linear;
}

#click-M:hover {
    background-color: #5ce5dc;
}

#click-M:active {
    background-color: #a6f0ea;
    transform: translateY(5px);
}

#text-M {
    width: 65%;
    height: 65%;
    color: #004d4d;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    background-color: #4dd2c8;
    border: 5px ;
    border-color: #006666;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    top: 8px;
    left: 75px;
}

.chibi {
    width: 10%;
    height: 100%;
    object-fit: contain; 
    position: absolute;
    left: 45px;
    top: -1px;
}

.item {
    width: 5%;
    height: 55%;
    object-fit: contain; 
    position: absolute;
    left: 70%;
    top: 37px;
    
}

/* 🛡️ بروتوكول تصغير قذيفة الإدامامي لزوندامون */
#B-Z .item {
    height: 28%; /* قمنا بتصغير الارتفاع من 55% إلى 35% لتبدو لطيفة ومتناسبة */
    top: 57px;   /* تعديل مكان الارتفاع العلوي (Top) لكي تسير القذيفة بمحاذاة يدها تماماً ولا تطير في الهواء */
}

@keyframes itemMove {
    0% {
        left:70%;
    }
    100% {
        left: 9%;
    }
}

#feed-trigger:checked ~ .item {  
    animation-name: itemMove;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    animation-fill-mode: forwards;
}

#feed-trigger:checked ~ .S-of-T #click-T {
    background-color: #ffacbe;
}
.S-of-T {
    width: 15%;
    height: 40%;
    position: absolute;
    left: 75%;
    top: 45px;
}

#click-T {
    width: 20%;
    height: 65%;
    text-align: center;
    background-color: #ff4b72;
    border: 6px;
    border-style: groove;
    border-color: #da2f40;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 10px;
    transition: background-color .2s linear, transform .2s linear;
}

#click-T:hover {
    background-color: #ff6d8c;
}

#click-T:active {
    background-color: #ffacbe;
    transform: translateY(5px);
}


#text-T {
    width: 65%;
    height: 65%;
    color: #77001a;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    background-color: #e25b78;
    border: 5px ;
    border-color:#b30c0c;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    top: 8px;
    left: 75px;
}

.right-column iframe{
    width: 97%;
    height: 101%;
    float: right;
    opacity: 0.9;
    
}
.center-column img {
    width: 100%;
    height: 101%;
    object-fit: contain; 
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.center-column img#M-img {
    border-color:#5ce5dc; 
}
.center-column img#T-img {
    border-color:#ff4b72; 
}

.center-column img#Z-img {
    border-color:#a0e862; 
    opacity: 2;
}

.left-column{
    padding: 15px 25px;
    width: 65%;
    box-sizing: border-box;
    overflow-y: auto;
}

#L-M::-webkit-scrollbar-thumb {
    background: rgba(57, 197, 187, 0.8);
    border-radius: 10px;
}

#L-M::-webkit-scrollbar-thumb:hover {
    background: rgba(57, 197, 187, 1); 
}

.M-H {
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
    color: #008b8b;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}

.M-subheading {
    color: #005f5f;
    font-size: x-large;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 4px 10px;
    border-left: 4px solid #ffffff; 
}

.M-desc {
    font-style: italic;
    font-size: large;
    margin-bottom: 18px; 
    line-height: 1.6; 
    color: #002b36;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}

#M-negi-list {
    font-style: italic;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 30px; 
    line-height: 1.6;
    list-style: none;
    padding-left: 10px;
}

#M-negi-list li::before {
    content: '✦ ';
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.left-column::-webkit-scrollbar {
    width: 6px; 
}

.left-column::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05); 
    border-radius: 10px;
}
.left-column::-webkit-scrollbar-thumb {
    background: rgba(255, 75, 114, 0.8);
    border-radius: 10px;
}

.left-column::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 75, 114, 1); 
}

.T-H{
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
    color: #ff0000;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}

.T-subheading {
    color: #9a0000;
    font-size: x-large;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 4px 10px;
    border-left: 4px solid #ffffff; 

}


.T-desc {
    font-style: italic;
    font-size: large;
    margin-bottom: 18px; 
    line-height: 1.6; 
    color: #2b0000; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#T-bread-list {
    font-style: italic;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 30px; 
    line-height: 1.6;
    list-style: none;
    padding-left: 10px;
}

#T-bread-list li::before {
    content: '✦ ';
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

#L-Z::-webkit-scrollbar-thumb {
    background: rgba(139, 212, 80, 0.8);
    border-radius: 10px;
}

#L-Z::-webkit-scrollbar-thumb:hover {
    background: rgba(139, 212, 80, 1); 
}

#B-Z {
    border-color: #a0e862; 
}

#feed-trigger-Z:checked ~ .item {  
    animation-name: itemMove;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    animation-fill-mode: forwards;
}

#feed-trigger-Z:checked ~ .S-of-Z #click-Z {
    background-color: #cbf5a2;
}

.S-of-Z {
    width: 15%;
    height: 40%;
    position: absolute;
    left: 75%;
    top: 45px;
}

#click-Z {
    width: 20%;
    height: 65%;
    text-align: center;
    background-color: #8bd450;
    border: 6px;
    border-style: groove;
    border-color: #4c8a1d;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 10px;
    transition: background-color .2s linear, transform .2s linear;
}

#click-Z:hover {
    background-color: #a0e862;
}

#click-Z:active {
    background-color: #cbf5a2;
    transform: translateY(5px);
}
#text-Z {
    width: 65%;
    height: 65%;
    color: #1e4d00;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    background-color: #a8ee6b;
    border: 5px ;
    border-color: #3b7511;
    border-style: solid;
    border-radius: 10px;
    position: absolute;
    top: 8px;
    left: 75px;
}

.Z-H {
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
    color: #3b7511;
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
}

.Z-subheading {
    color: #245203;
    font-size: x-large;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 4px 10px;
    border-left: 4px solid #ffffff; 
}

.Z-desc {
    font-style: italic;
    font-size: large;
    margin-bottom: 18px; 
    line-height: 1.6; 
    color: #132b00;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3);
}

#Z-edamame-list {
    font-style: italic;
    font-size: large;
    margin-top: 5px;
    margin-bottom: 30px; 
    line-height: 1.6;
    list-style: none;
    padding-left: 10px;
}

#Z-edamame-list li::before {
    content: '✦ ';
    color: #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}